.discover-top-activities {
  grid-column: 1 / 13;
  grid-row: 9 / 14;
  margin-bottom: 2rem;
}

.activities-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  text-align: left !important;
  padding: 0;
  margin: 0;
}

/* add hover effect bob up on the whole card */

.box {
  position: relative;
  margin: 1rem;
  width: 300px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
