main {
  grid-column: 1 / 13;
  grid-row: 3 / 8;
  margin-bottom: 2rem;
}

main .landing-image {
  margin-top: 5rem;
  /* have to add the border radius here because Layout is now no longer a child of the div id content */
  border-radius: 1.875rem;
}

.bg-image-home {
  background-image: url('./images/yosemitevalley.png') !important;
}
