* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}


.search-container {
/*   border: 2px solid red; */
  display: flex;
  width: 954px;
  height: 103px;
  border-radius: 12px;
/*  next 4 lines are just to center all of it on this page specifically  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: .6rem;
  background-color: #ffffff;
}

form {
  display: flex;
  justify-content: space-around;
/*   border: 2px solid blue; */
  width: 90%;
}

.search-name-container,
.select-state-container,
.select-activity-container,
.select-topic-container{
  display: flex;
  flex-direction: column;
}

.name-input-label,
.select-state-label,
.select-activity-label,
.select-topic-label {
  font-size: .75rem;
  padding-top: .5rem;
  color: #666900;
}

input[type="text"],
select{
  margin-top: .4rem;
  border: none;
/*   outline: none; */
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: .4rem .67rem .4rem;
}

input[type="text"],
select:focus {
  outline-color: #666900;
}

select {
  color: #666900;
  font-weight: 600;
  margin-top: .2rem;
}

input::placeholder {
  color: #353619;
  opacity: .2;
}

span {
  margin-top: 2rem;
  color: #353619;
  opacity: .2;
}

button {
 border: none;
 outline: none;
 border-radius: 50%;
 width: 43px;
 height: 43px;
 margin-top: 1.6rem;
 background-color: #666900;
 color: #ffffff;
}