@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --gray-1: #d3d3d3;
  --gray-2: #999999;
  --gray-3: #5f5f5f;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefef8;
}

p,
figcaption {
  font-family: "Nunito", sans-serif;
}

.rmsc {
  width: 100%;
  --rmsc-radius: 9px !important;
}

.dropdown-container {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

img {
  background: var(--gray-1);
}
.masonry {
  columns: 3 200px;
  column-gap: 1rem;
}

.masonry > img {
  width: 150px;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
}
