header {
  grid-column: 2/12;
  grid-row: 2 / 3;
  background: #fefef8 !important;
  display: inline;
}

header h1 {
  color: #743100;
  font-size: 3.5rem;
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

header p {
  color: #743100;
  font-size: 1.5rem;
  font-weight: bold;
}
